*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace, sans-serif;
    font-weight: normal;
}

/* background*/
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #720de6, rgb(41, 209, 201));
}

/* makes grid for buttons */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid white;
    outline: none;
    /* makes buttons .75 opacity */
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    /* .90 opacity upon hover */
    background-color: rgba(255, 255, 255, .9);
}

/* all span 2 divs take up two columns*/
.span-two {
    grid-column: span 2;
}

.output {
    /* fills the entire width of the top row */
    grid-column: 1 / -1;
    /* display background .75 opacity*/
    background-color: rgba(0, 0, 0, .75);
    /* aligns items in the display*/
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* stacks items vertically*/
    flex-direction: column;
    padding: 10px;
    /* wraps items*/
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}